{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="custom-back">
    <div class="offset-sm-2 col-sm-8 offset-lg-4 col-lg-4 content_custom-back">
    <form id="login_form" class="form-group" action="{% url 'login_check' %}"> {% csrf_token %}
        <h3 class="text-center">Вход</h3>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="email" id="id_email" required>

            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="password" id="id_password" required>
        </div>
         <div class="text-center">
            <button type="submit" class="btn btn-success" id="submit_button">Войти</button>
            <a class="btn btn-success" href="../register/">Регистрация</a>
        </div>
    </form>
    </div>
</div>

<!-- MORE BOOTSTRAP -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- CUSTOM -->
<script src="{%  static 'js/scripts.js'%}"></script>
</body>
</html>