{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Likes</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="custom-back">
    <div class="offset-sm-2 col-sm-8 offset-lg-4 col-lg-4 content_custom-back align-content-center text-center">
        {% if pairs_count == 0 %}
            <span>К сожалению, совпадения не обнаружены. Попробуйте изменить настройки поиска</span>
        {% endif %}
        {% if pairs_count > 0 %}
            {% for pair in pairs_list%}
                    <div class="custom-link">
                        <img class="img-in-pairs" src="{% static 'images/no_image.png' %}">
                        <p>
                            <button class="btn btn-danger" id="id_button_dislike">Прочь!</button>
                            <span class="custom-link">{{ pair.name }}, {{ pair.age }} y.o.</span>
                            <button class="btn btn-success" id="id_button_like">Лайк!</button>
                        </p>
                    </div>
            {% endfor %}
        {% endif %}


        <p><a class="btn btn-success" href="../../profile/{{ user.id }}">Профиль</a></p>
    </div>
</div>

<!-- MORE BOOTSTRAP -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- CUSTOM -->
<script src="{%  static 'js/scripts.js'%}"></script>
</body>
</html>